.entry .title h3 {
  margin: 0;
  font-size: 1.4em;
}
.entry .body p {
  margin: 0;
  font-size: 1.4em;
}
.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}
/*
.entry .body ul li:before {
  content: "–";
  margin-right: .5em;
}
*/

@media ( min-width : 767px ){
  .timeline {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    padding: 100px 0;
    position: relative;
  }
  .timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left: calc(33% + 15px);
    bottom: 0px;
    width: 4px;
    background: #ddd;
  }
  .timeline:after {
    content: "";
    display: table;
    clear: both;
  }
  .entry {
    clear: both;
    text-align: left;
    position: relative;
  }
  .entry .title:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid salmon;
    background-color: #fff;
    border-radius: 100%;
    right: -27px;
    z-index: 99;
  }
  .entry .title {
    margin: .5em auto;
    float: left;
    width: 33%;
    padding-right: 30px;
    text-align: right;
    position: relative;
  }
  .entry .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .timeline {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    padding: 100px 0;
    position: relative;
  }
  .timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 15px;
    bottom: 0px;
    width: 4px;
    background: #ddd;
  }
  .timeline:after {
    content: "";
    display: table;
    clear: both;
  }
  .entry {
    clear: both;
    margin-left: 40px;
    text-align: left;
    position: relative;
  }
  .entry .title:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid salmon;
    background-color: #fff;
    border-radius: 100%;
    top: 27px;
    left: -33px;
    z-index: 99;
  }
}
